$color-primary: #B8DBD9;
$color-secondary: #48987D;
$color-gray: #777;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #f7f7f7;
$color-border-gray: #eeeeee;

$color-boba-light: #FFC5B5;
$color-boba-dark: #FFA17F;

$color-kata-light: #A8C0FF;
$color-kata-dark: #5998FF;

$default-font-size: 1.3rem;