.section-about {
  background-color: $color-light-gray;
  padding: 20rem 0;
  margin-top: -20vh;

  & .about-content-container {
    display: flex;
    justify-content: space-around;

    & .about-text {
      width: 50vw;
    }
  }
}

.about-images {
  position: relative;
  width: 35vw;
}

.section-projects {
  padding: 10rem 0;
  height: 75vh;
  background-size: cover;
  background-image: linear-gradient(
    to top,
    rgba($color-primary, 0.8), 
    rgba($color-secondary, 0.8)), 
    url(../img/skbuildings.jpg);
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 75% 100%, 65% 85%, 0% 85%);
}