.cards-container {
  position: relative;
  display: flex;
  justify-content: center;

  & .cards {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}